.logo {
  text-align: center;
}
.call-to-action {
  text-align: center;
}
.call-to-action .course-container {
  padding: 1em;
}
.call-to-action .course {
  border: 1px solid black;
  border-radius: 4px;
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
  background: white;
}
.call-to-action .course:hover {
  background: #DDDDDD;
}
.call-to-action .course .media {
  min-height: 150px;
  font-size: 500%;
  padding-top: 25px;
}
.call-to-action .course button {
  width: 100%;
  border: 0px;
}
.call-to-action .course a {
  text-decoration: none;
  color: black;
  /* z-index: -1; */
}
.call-to-action .course span {
  /*background-color: #ccc;*/
  display: block;
}
.call-to-action .course-list-preview {
  /* margin-bottom: 1em; */
}
.call-to-action .browse {
  margin-top: 4em;
}
.call-to-action .browse button {
}

section.call-to-action {
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-top: 50px;
}
section.card {
  margin-bottom: 50px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: white;
}
section.card:last-child {
  margin-bottom: 0px;
}
section.card img.media-svg {
  height: 9em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section.card:nth-child(even) {
  /*background-color: #ccc;*/
}

